* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    border: 1px solid black;
}

.container > div {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-basis: 6.25%;
}

.container > div:hover {
    background-color: gray;
}

